<footer class="container">
    <hr/>
    <div class="grid">
        <div>
            <h5>Contributing</h5>
            <ul>
                <li><a href="https://gitlab.com/k3rni/g-p-handel">Project page</a></li>
                <li><a href="https://gitlab.com/k3rni/g-p-handel/-/issues">Issues</a></li>
            </ul>
        </div>
        <div>
            <h5>Resources</h5>
            <dl>
                <dt>Apple's private Unicode range available in keystroke sequence maps</dt>
                <dd><a href="https://www.unicode.org/Public/MAPPINGS/VENDORS/APPLE/CORPCHAR.TXT">CORPCHAR.TXT</a></dd>
                <dt>USB HID Usage Tables, see Table 12 <em>Keyboard/Keypad Page</em></dt>
                <dd><a href="https://www.usb.org/sites/default/files/documents/hut1_12v2.pdf">hut1_12v2.pdf</a></dd>
                <dt>Keys rebindable with <code>hidutil</code> (a subset of the HID page)</dt>
                <dd><a href="https://developer.apple.com/library/archive/technotes/tn2450/_index.html">Technical note TN2450</a></dd>
                <dt>hidutil remapping generator</dt>
                <dd><a href="https://hidutil-generator.netlify.app/">hidutil-generator.netlify.app</a></dd>
                <dt>MacOS keyboard layouts by Keyshorts.com</dt>
                <dd><a href="https://www.dropbox.com/s/s4dlejb2f12p3ob/world-of-mac-keyboard-layouts-by-keyshorts.jpg?dl=0">Dropbox link</a> or <a href="https://keyshorts.com/blogs/blog/37615873-how-to-identify-macbook-keyboard-localization#us-international">blog post</a>.</dd>
            </dl>
        </div>
    </div>
</footer>
